body {
color: #454545;
font-family: "Lucida Sans", Verdana, Arial, "sans-serif";
font-size: .9em;
font-weight: normal;
line-height: 1.4em;
}

h1 {
text-shadow: 5px 5px 10px #990714;
padding-top: 10px;
padding-bottom: 20px;
border: 2px dashed;
background: #964230; /* Old browsers */
background: -moz-linear-gradient(top, #964230 0%, #cc6868 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #964230 0%,#cc6868 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #964230 0%,#cc6868 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#964230', endColorstr='#cc6868',GradientType=0 ); /* IE6-9 *
}

h2 h3 {
color: #787878;
}

a {
text-decoration:underline;
font-weight: bold;
color: #990714;
}

p {
padding: 0em 2em;
background-color: azure;
}

i {
display: inline-block;
box-shadow: 2px 2px 5px #990714, -2px -2px 5px #990714;
}

ul::after {
content: "That's all!";
color: green;
font-style: italic;
font-size: .5em;
line-height: 10em;
}