body {
color: #454545;
font-family: "Lucida Sans", Verdana, Arial, "sans-serif";
font-size: .9em;
font-weight: normal;
line-height: 1.4em;
}

h1 {
text-shadow: 5px 5px 10px #990714;
padding-bottom: 20px;
}

h2 h3 {
color: #787878;
}

a {
text-decoration:underline;
font-weight: bold;
color: #990714;
}

p {
padding: 0em 2em;
}
